.h {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-no {
    &-marge {
      margin: 0;
    }
  }

  &-spacing {
    &-top {
      margin-top: $_defaultSpacing / 2;

      &--wide {
        margin-top: $_defaultSpacing;
      }
      &--half {
        margin-top: $_defaultSpacing / 4;
      }
    }
    &-bottom {
      margin-bottom: $_defaultSpacing / 2;

      &--wide {
        margin-bottom: $_defaultSpacing;
      }
      &--half {
        margin-bottom: $_defaultSpacing / 4;
      }
    }
  }
}
