<div class="widget-rate-content-wrapper"
    ng-click="printing.selectRate(rate)">
    <div class="widget-rate-title">

        <!-- service name still missing -->
        <span ng-bind="rate.service_name || rate.code"></span>

        <span class="icon-inline-right"
            tooltip="{ on : 'enter', translation : 'CARRIER.TERMS.' + (rate.code.toUpperCase()), directionX : 'right', directionY : 'up', provideOverlay : true }"
            stop-propagation="click">
            <span class="fa fa-info-circle"></span>
        </span>
    </div>
    <div class="widget-rate-flex">
        <span class="widget-rate-carrier"
            carrier-logo="rate"></span>
        <span class="widget-rate-details">
            <div>
                <span class="icon-inline-left">
                    <span class="fa fa-cube"></span>
                </span>
                <span ng-bind="'RATE.IS_NOT_PICKUP' | translate"></span>
            </div>
            <div>
                <span class="icon-inline-left">
                    <span class="fa fa-tachometer"></span>
                </span>
                <span ng-bind="(('RATE.DELIVERY_SPEED' + ((printing.getSelectedSurcharge(rate).days_min || rate.days_min) ? '' : '.VARYING')) | translate)
                    .replace('%%', printing.getSelectedSurcharge(rate).days_min || rate.days_min)
                    .replace('%%', (printing.getSelectedSurcharge(rate).days_max || rate.days_max) && (printing.getSelectedSurcharge(rate).days_max !== printing.getSelectedSurcharge(rate).days_min || rate.days_max !== rate.days_min) ? ' - ' +  (printing.getSelectedSurcharge(rate).days_max || rate.days_max) : '')"></span>
            </div>
        </span>
        <span class="widget-rate-price"
            ng-class="{ cta : true }">
            <span ng-bind-html="(
                rate.gross_amount ?
                    ('RATE.PRICE' | translate).replace('%%', '<span class=\'widget-rate-price-value\'>' + rate.gross_amount.toFixed(2).replace('.', ',') + ' ' + rate.currency + '</span>') : ('CARRIER.PRICE_CUSTOM' | translate)) | raw">
            </span>
        </span>
    </div>
</div>
