<form
  class="form">

    <div
      class="form__row--block">
        <label
          class="--required"
          for="address_name">
            Vor- und Nachname
        </label>
        <input
          required
          id="address_name"
          type="text"/>
    </div>

    <div
      class="form__row--block">
        <label
          for="address_company">
            Firmenname
        </label>
        <input
          required
          id="address_company"
          type="text"/>
    </div>

    <div
      class="form__row--inline large left">
        <label
          class="--required"
          for="address_street">
            Straße
        </label>
        <input
          required
          id="address_street"
          type="text"/>
    </div>

    <div
      class="form__row--inline small right">
        <label
          class="--required"
          for="address_street_number">
            Hausnummer
        </label>
        <input
          required
          id="address_street_number"
          type="text"/>
    </div>

    <div
      class="form__row--block">
        <label
          for="address_addition">
            Adresszusatz
        </label>
        <input
          required
          id="address_addition"
          type="text"/>
    </div>

    <div
      class="form__row--inline small left">
        <label
          class="--required"
          for="address_postal_code">
            Postleitzahl
        </label>
        <input
          required
          id="address_postal_code"
          type="text"/>
    </div>

    <div
      class="form__row--inline large right">
        <label
          class="--required"
          for="address_city">
            Stadt
        </label>
        <input
          required
          id="address_city"
          type="text"/>
    </div>

    <div
      class="form__row--block">
        <label
          class="--required"
          for="address_country">
            Land
        </label>
        <select
          required
          id="address_country">
          <option>Deutschland</option>
        </select>
    </div>

    <div
      class="form__row--inline medium left">
        <label
          for="address_phone">
            Telefon
        </label>
        <input
          required
          id="address_phone"
          type="text"/>
    </div>

    <div
      class="form__row--inline medium right">
        <label
          for="address_email">
            E-Mail
        </label>
        <input
          required
          id="address_email"
          type="text"/>
    </div>
</form>
