<section class="section section--blue section--center banner__section"
    style="background-image: url(https://www.coureon.com/content/footer-cta.jpg)">
    <div class="section__inner">
        <h2 class="section__title"
            ng-bind="{{ bannerTitle }}"></h2>
        <p class="section__subtitle"
            ng-bind="{{ bannerSubtitle }}"></p>
        <a class="button button--blush"
          href="{{ bannerLink }}"
          target="_blank"
          ng-if="!hideBannerLink">
          <span ng-bind="'COMMON.SECTION.BANNER.LINK' | translate"></span>
        </a>
    </div>
</section>
