<footer class="footer">
    <div class="footer__inner">
        <ul class="footer__links">
          <li> <a class="footer__link" href="https://www.coureon.com/impressum"> Impressum </a></li>
          <li> <a class="footer__link" href="https://www.coureon.com/agb"> AGB </a></li>
        </ul>

        <!-- <nav class="footer__columns row">
            <div class="footer__column column large-3 medium-6 small-12">
                <h2 class="footer__headline">Impressum</h2>

            </div>
            <div class="footer__column column large-3 medium-6 small-12">
                <h2 class="footer__headline">AGB</h2>
            </div>
        </nav> -->
    </div>
</footer>
