<section class="section --blue --center" style="background-image: url(https://www.coureon.com/content/footer-cta.jpg)">
    <div class="section__inner">
        <h2 class="section__title" ng-bind="'SECTION.FOOTER.TITLE' | translate"></h2>
        <p class="section__subtitle" ng-bind="'SECTION.FOOTER.SUBTITLE' | translate"></p>

        <form class="footerForm">
            <div class="footerForm__elements">
                <button class="button button--blush" type="button" name="printReturnLabel" ng-click="base.printReturnLabel()" ng-bind="'SECTION.FOOTER.PRINT_RETURN_LABEL_BUTTON' | translate"></button>
                <button class="button button--blush" type="button" name="printLabel" ng-click="base.printLabel()" ng-bind="'SECTION.FOOTER.PRINT_LABEL_BUTTON' | translate"></button>
            </div>
        </form>
    </div>
</section>
