<section class="section -black -center footer" style="background-image: url(https://www.coureon.com/content/footer-cta.jpg)">
  <div class="_inner">
    <h2 class="_title">Einfach Pakete versenden.</h2>
    <p class="_subtitle">Kostenlose Nutzung. Keine Einrichtung notwendig.</p>

    <form class="footerForm">
      <div class="footerForm__elements">
        <button type="button" name="printReturnLabel">Jetzt Rücksende Etikett erstellen</button>
        <button type="button" name="printLabel">Jetzt Paketschein drucken</button>
      </div>
    </form>

  </div>
</section>
