<!--
<header class="header -large">
    <div class="_inner">
        <a class="header__logo header__logo--large" href="https://www.coureon.com"></a>
    </div>
</header> -->


<header class="header -large">
    <div class="_inner">
      <!-- <a class="_logo -large" href="https://www.coureon.com"></a> -->
        <div class="_inner">
            <a class="header__logo header__logo--large" href="https://www.coureon.com"></a>
        </div>

        <div class="_options">
            <div class="_phone">
                <span class="fa fa-phone"></span>
                030 / 208 499 84
            </div>
            <a class="_mail" href="mailto:kontakt@coureon.com">
                <span class="fa fa-envelope-o"></span>
                kontakt@coureon.com
            </a>
            <a class="button--ghostBlush" href="https://app.coureon.com/login">Mein Konto</a>
        </div>
    </div>
</header>

<!-- <header class="header -small">
    <div class="_inner">
        <a class="_logo -small" href="/"></a>
    </div>
</header> -->
