<header class="header -large">
    <div class="_inner">
        <!-- <a class="_logo -large" ng-href="{{base.coureonUrl}}"></a> -->
        <a class="_logo -large" ng-href="{{('COMMON.LOGO_LINK' | translate)}}"></a>
        <!-- <div class="_options">
            <a class="_phone" ng-href="{{ 'tel:' + ('COMMON.HOTLINE' | translate) }}" ng-bind="'COMMON.HOTLINE.PRETTY' | translate"></a>
            <a class="_mail" ng-href="{{ 'mailto:' + ('COMMON.MAIL' | translate) }}" ng-bind="'COMMON.MAIL' | translate"></a>
            <a class="button--ghostBlush" ng-href="{{base.myAccountUrl}}" ng-bind="'SECTION.HEADER.MY_ACCOUNT' | translate"></a>
        </div> -->
    </div>
</header>
