<div class="language-select">
  <ul class="language-select__list">
    <li class="language-select__list-item"
      ng-repeat="language in languages"
      ng-click="changeLanguage(language)">
      <div class="row">
          <div class="medium-5 small-5">
            <span class="language-select__flag image-flags-small-{{ language.cssIdentifier }}" title="{{language.code}}"></span>
          </div>
          <div class="medium-7 small-7">
            <span ng-bind="language.translation | translate"></span>
          </div>
      </div>
    </li>
  </ul>
</div>
