.widget-payment-methods {
    @include resetList;
    & li {
        transition: background-color $_tShort,color $_tShort;
        padding: $_defaultSpacing/2 $_defaultSpacing;
        border-bottom: $_borderWidthSmall solid $_rgbAlto;
        cursor: pointer;

        & .icon-action {
          background-color: transparent;
          color: $_rgbMineShaft;

          &:hover {
            background-color: lighten($_rgbAlto, 10);
          }
        }

        &.--active {
            background-color: $_rgbAlto;
        }

        &:last-child {
            border-bottom: none;
        }

        & .icon {
            width: $_defaultSpacing*2;
        }
    }
}
.widget-payment-methods-form {
    background-color: lighten($_rgbAlto, 15);

    border-bottom: $_borderWidthSmall solid $_rgbAlto;

    &-inputs {
      margin: $_defaultSpacing;
    }

    &:last-child {
        border-bottom: none;
    }
}
