.widget-rate {
  transition: background-color $_tShort,
    border-left-width $_tShort;
  border-bottom:1px solid $_rgbDustyGray;
  border-left:0 solid $_rgbDustyGray;
  // cursor:pointer;

  &-stacked {
    border:0 none;
    box-shadow:0 0 1px $_rgbDustyGray;
  }

  &:hover {
    border-left-width:5px;
    background-color:$_rgbAthensGray;
  }

  &-disabled {
    position:relative;
    cursor:not-allowed;

    &-clickable {
      cursor:pointer;
    }

    &:before {
      transition:opacity $_tShort;
      display:block;
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      content:'';
      background-color:transparentize($_rgbAlto, 0.25);
      z-index:$zindex-inner;
      opacity:0;
    }

    &:after {
      transition:opacity $_tShort, transform $_tShort;
      transform:scale(1.25);
      content:attr(data-text-disabled);
      display:block;
      position:absolute;
      left:$_defaultSpacing;
      right:$_defaultSpacing;
      top:50%;
      margin-top:$_fsDefault / (-2);
      text-align:center;
      font-size:$_fsDefault;
      // font-weight:$font-weight-semibold;
      z-index:$zindex-inner;
      opacity:0;
    }

    &:hover {
      border-left-width:0;
      background-color:transparent;

      &:before,
      &:after {
        opacity:1;
        transform:scale(1);
      }
    }
  }

  &:last-child {
    border-bottom:0 none;
  }

  &-title {
    margin-bottom:$_defaultSpacing / 2;
  }

  &-content-wrapper {
    @include clearfix();

    padding: $_defaultSpacing;
  }

  &-flex {
  	display: flex;
  	flex-wrap: wrap;
  }

  &-price {
    display: flex;
    flex-grow: 0;
    flex-flow:column nowrap;
    justify-content:center;
    height: 81px;
    // flex-basis: 112px;

    text-align:center;
    line-height:1.4em;
    padding:($_defaultSpacing / 2) $_defaultSpacing;

    &-value {
      display:block;
      font-size:1.25em;
      font-weight:600;
    }
  }

  &-details[max-width~="120px"] + &-price {
    flex-grow: 1;
  }

  &-carrier {
    display:flex;
    flex-shrink: 0;
    flex-flow:column nowrap;
    justify-content:center;
    // float:left;
    width:100px;
    height:81px;
    border:1px solid $_rgbDustyGray;
    border-radius:$_borderRadiusDefault;
    overflow:hidden;
    background-color:$_rgbWhite;
    padding:($_defaultSpacing / 2);

    &-item {
      position:relative;
      flex:1;
      max-height:50%;

      & + & {
        margin-top: ($_defaultSpacing / 2);
      }

      &.image-carrier {
        &-gelexpress,
        &-cclogistics,
        &-ups,
        &-dpd {
          max-height:40%;
        }
      }
    }

    // & > &-item {
    //   margin:($_defaultSpacing / 4);
    // }
  }

  &-details {
    // float:left;
    // width:auto;
    flex-grow: 1;
    flex-basis: 40%;
    display: inline-block;
    // display:block;
    font-size:$_fsSmall;
    color:$_rgbMineShaft;
    padding: 0 $_defaultSpacing;
    line-height: 26px;
  }

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .widget-rate-carrier > .widget-rate-carrier-item:only-child {
    margin-top: -$_defaultSpacing * 2;

    &.image-carrier {
      &-gelexpress,
      &-cclogistics,
      &-ups,
      &-dpd {
        margin-top: -$_defaultSpacing * 1.8;
      }
    }
  }
}
