<h3 class="h-center">Herzlichen Glückwunsch</h3>

<div>
    <div>Sie haben erfolgreich einen Paketschein mit uns gedruckt.</div>
    <div>Und es war so einfach</div>
</div>
<table>
    <thead>
        <tr>
            <th ng-bind="'PAGE.PRINTING.MODAL.APPROVAL.LAYOUT' | translate"></th>
            <th ng-bind="'PAGE.PRINTING.MODAL.APPROVAL.DOWNLOAD_HEADER' | translate"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span class="icon-inline-left list-options-icon">
                <span ng-class="'image-layout-' + download.format"></span>
                </span>
                <span ng-bind="('LABEL.LAYOUT_' + download.format.toUpperCase()) | translate"></span>
            </td>
            <td class="table-column-numeric">
                <a ng-href="{{ download.url }}" target="_blank" ng-bind="(('PAGE.LABEL_PRINT_BATCH.MODAL.DOWNLOAD' + (download.name ? ('_CUSTOM.' + download.name.toUpperCase()) : '')) | translate).replace('%%', download.count || '')"></a>
                <span class="fa fa-file-pdf-o icon-inline-right"></span>
            </td>
        </tr>
        <tr ng-if="modal.data.download_result.pickup_receipt_urls.url">
            <td>
                <span class="icon-inline-left list-options-icon">
                <span class="image-layout-a4"></span>
                </span>
                <span ng-bind="'LABEL.LAYOUT_A4' | translate"></span>
            </td>
            <td class="table-column-numeric">
                <a ng-href="{{ modal.data.download_result.pickup_receipt_urls.url }}" target="_blank" ng-bind="('PAGE.LABEL_PRINT_BATCH.MODAL.PICKUP_RECEIPT' | translate)"></a>
                <span class="fa fa-file-pdf-o icon-inline-right"></span>
            </td>
        </tr>
    </tbody>
    <tfoot ng-if="modal.data.download_result.customs_urls">
        <tr ng-if="modal.data.download_result.customs_urls.declaration">
            <td>
                <span class="icon-inline-left list-options-icon">
                <span class="image-layout-a4"></span>
                </span>
                <span ng-bind="'LABEL.LAYOUT_A4' | translate"></span>
            </td>
            <td class="table-column-numeric">
                <a ng-href="{{ modal.data.download_result.customs_urls.declaration }}" target="_blank" ng-bind="'PAGE.LABEL_PRINT_BATCH.MODAL.DOWNLOAD_CUSTOMS_DECLARATION' | translate"></a>
                <span class="fa fa-file-pdf-o icon-inline-right"></span>
            </td>
        </tr>
        <tr ng-if="modal.data.download_result.customs_urls.invoice">
            <td>
                <span class="icon-inline-left list-options-icon">
                <span class="image-layout-a4"></span>
                </span>
                <span ng-bind="'LABEL.LAYOUT_A4' | translate"></span>
            </td>
            <td class="table-column-numeric">
                <a ng-href="{{ modal.data.download_result.customs_urls.invoice }}" target="_blank" ng-bind="'PAGE.LABEL_PRINT_BATCH.MODAL.DOWNLOAD_CUSTOMS_INVOICE' | translate"></a>
                <span class="fa fa-file-pdf-o icon-inline-right"></span>
            </td>
        </tr>
    </tfoot>
</table>
