<div ng-if="modal.data.status == 'SELECT'">

    <h3 class="headline-sub row-marge-bottom-wide" ng-bind="'PAGE.PRINTING.MODAL.PAYMENT_METHOD.TITLE' | translate"></h3>

    <div class="area-panel area-panel--container">
        <ul class="widget-payment-methods">
            <li ng-repeat-start="method in modal.data.methods" ng-click="modal.action.selectMethod(method)" ng-class="{'--active' : (method === modal.data.selected)}">
                <span class="icon-action">
                    <span ng-if="method === modal.data.selected" class="fa fa-check"></span>
                </span>
                <span class="icon fa fa-fixed fa-centered" ng-class="modal.data.icons[method.toLowerCase()]"></span>
                <span ng-bind="('PAGE.PRINTING.MODAL.PAYMENT_METHOD.' + method) | translate"></span>
            </li>
            <form id="submit" class="widget-payment-methods-form" ng-repeat-end ng-if="method === modal.data.selected" ng-submit="modal.action.submit()">
                <div ng-include="'/views/partials/modals/payment_methods/' + method.toLowerCase() + '.html'"></div>
            </form>
        </ul>
    </div>
    <button form="submit" type="submit" class="button button--blush button--filling" ng-bind="('PAGE.PRINTING.MODAL.PAYMENT_METHOD.CHOOSE' ) | translate"></button>

</div>

<div ng-if="modal.data.status == 'SUBMIT'">
    <h3 class="h-center" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.TITLE' | translate"></h3>

    <div class="h-right h-spacing-bottom--wide">
        <a ng-click="modal.hide()">
            <span ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.EDIT_ADDRESS' | translate"></span>
            <span class="icon-action icon-action-outlined icon-inline--right">
                <span class="fa fa-pencil"></span>
            </span>
        </a>
    </div>

    <table class="table table--filling table--spacing table--saving table-row--bordered">
        <tbody>
            <tr ng-repeat="rate in [modal.data.rate]">
                <td class="table-column--slim">1x</td>
                <td>
                    <span class="table-column__legend-one" ng-bind="rate.service_name || rate.code"></span>
                    <span class="icon-inline--right icon-inline--middle">
                        <span class="fa fa-cube"></span>
                    </span>
                </td>
                <td>
                    <span class="icon-inline--left icon-inline--middle">
                        <span class="image-layout-a5"></span>
                    </span>
                    <span ng-bind="'COMMON.LABEL.LAYOUT_A5' | translate"></span>
                </td>
                <td class="table-column--slim table-column--numeric" ng-bind="rate.gross_amount ? (rate.gross_amount.toFixed(2) + ' ' + rate.currency) : ('CARRIER.PRICE_CUSTOM' | translate)"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="table-column--highlight">
                    <strong ng-bind="('PAGE.PRINTING.MODAL.LABEL_PRINT.TOTAL' | translate)"></strong>
                </td>
                <td class="table-column--highlight table-column--slim table-column--numeric h-right">
                    <strong ng-bind="modal.data.rate.gross_amount ? (modal.data.rate.gross_amount.toFixed(2) + ' ' + modal.data.rate.currency) : ('CARRIER.PRICE_CUSTOM' | translate)"></strong>
                </td>
            </tr>
        </tfoot>
        <caption>
            <span class="table__caption-item" ng-repeat="item in ('PAGE.PRINTING.MODAL.LABEL_PRINT.VAT_CHARGES' | translate) | jsonParse" ng-bind-html="item | raw"></span>
        </caption>
    </table>

    <div class="h-center">
        <button class="button button--blush button--filling" ng-click="modal.hide()" ng-dblclick="modal.data.dblclick()" ng-bind="('PAGE.PRINTING.MODAL.LABEL_PRINT.BUY' | translate)"></button>
    </div>

    <div class="h-center h-spacing-top--wide">
        <span class="link" ng-click="modal.hide()" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.CANCEL' | translate"></span>
    </div>

</div>
