<h3 class="headline-sub row-marge-bottom-wide" ng-bind="'PAGE.PRINTING.MODAL.PAYMENT_METHOD.TITLE' | translate"></h3>

<ul class="area-panel">
    <li ng-repeat-start="(method, details) in modal.data.availableMethods" ng-click="modal.action.selectMethod(method)">
        <span class="icon-action icon-action-outlined">
            <span ng-if="method === modal.data.selectedMethod" class="fa fa-check"></span>
        </span>
        <span class="fa fa-fixed fa-centered" ng-class="details.icon"></span>
        <span ng-bind="('PAGE.PRINTING.PAYMENT_METHOD.' + method) | translate"></span>
    </li>
    <form id="submit" ng-repeat-end ng-if="method === modal.data.selectedMethod" ng-submit="modal.action.submitSelection()">
        <div ng-include="'/views/partials/modals/payment_methods/' + method + '.html'"></div>
    </form>

    <button form="submit" type="submit" class="button button--blush button--filling" ng-bind="('PAGE.PRINTING.MODAL.PAYMENT_METHOD.CHOOSE' ) | translate">
    </button>
</ul>
