<h3 class="h-center" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.TITLE' | translate"></h3>

<div ng-if="modal.data.status === 'IDLE'" class="h-right h-spacing-bottom--wide">
    <a ng-click="modal.hide()">
        <span ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.EDIT_ADDRESS' | translate"></span>
        <span class="icon-action icon-action-outlined icon-inline--right">
            <span class="fa fa-pencil"></span>
        </span>
    </a>
</div>

<table ng-if="modal.data.status === 'IDLE'" class="table table--filling table--spacing table--saving table__row--bordered">
    <tbody>
        <tr ng-repeat="rate in [modal.data.rate]">
            <td class="table__column--slim">1x</td>
            <td>
                <span class="table__legend-one" ng-bind="rate.service_name || rate.code"></span>
                <span class="icon-inline--right icon-inline--middle">
                    <span class="fa fa-cube"></span>
                </span>
            </td>
            <td>
                <span class="icon-inline--left icon-inline--middle">
                    <span class="image-layout-a5"></span>
                </span>
                <span ng-bind="'COMMON.LABEL.LAYOUT_A5' | translate"></span>
            </td>
            <td class="table__column--slim table__column--numeric" ng-bind="rate.gross_amount ? (rate.gross_amount.toFixed(2) + ' ' + rate.currency) : ('CARRIER.PRICE_CUSTOM' | translate)">
            </td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="table__column--highlight">
            <strong ng-bind="('PAGE.PRINTING.MODAL.LABEL_PRINT.TOTAL' | translate)"></strong>
        </td>
        <td class="table__column--highlight table__column--slim table__column--numeric h-right">
            <strong ng-bind="modal.data.rate.gross_amount ? (modal.data.rate.gross_amount.toFixed(2) + ' ' + modal.data.rate.currency) : ('CARRIER.PRICE_CUSTOM' | translate)"></strong>
        </td>
    </tr>
    </tfoot>
    <caption class="table__caption-item" ng-repeat="item in ('PAGE.PRINTING.MODAL.LABEL_PRINT.VAT_CHARGES' | translate) | jsonParse" ng-bind-html="item | raw"></caption>
</table>

<div ng-if="modal.data.status === 'IDLE'" class="h-center">
    <button class="button button--blush button--filling" ng-click="modal.data.buy()" ng-dblclick="modal.data.dblclick()" ng-bind="('PAGE.PRINTING.MODAL.LABEL_PRINT.BUY' | translate)"></button>
</div>

<div ng-if="modal.data.status === 'IDLE'" class="h-center h-spacing-top--wide">
    <span class="link" ng-click="modal.hide()" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.CANCEL' | translate"></span>
</div>

<div ng-if="modal.data.status === 'PENDING'" class="h-center">
    <span class="fa fa-circle-o-notch fa-spin modal__icon-busy"></span>
    <div class="legend h-spacing-top" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.PENDING_MESSAGE' | translate"></div>
</div>

<div ng-if="modal.data.status === 'COMPLETED'" class="h-center h-spacing-bottom--wide" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.COMPLETED_NOTIFICATION' | translate"></div>

<div ng-if="modal.data.status === 'COMPLETED'" class="h-center h-spacing-bottom--wide" ng-repeat="hint in modal.data.download_result.customs_urls.hints">
    <div class="h-spacing-top" ng-bind="('COMMON.LABEL.CUSTOMS_HINT.' + hint.carrier_code.toUpperCase() | translate)"></div>
    <a href="{{hint.link}}" target="_blank"><span ng-bind="('COMMON.LABEL.CUSTOMS_HINT.' + hint.carrier_code.toUpperCase() + '.LINK.TEXT' | translate)"></span></a>
</div>

<table ng-if="modal.data.status === 'COMPLETED'" class="table table--filling table--spacing table--saving table__row--bordered h-spacing-top">
    <thead>
    <tr>
        <td class="table__head" ng-bind="'Papierlayout' | translate"></td>
        <td class="table__head h-right" ng-bind="'Herunterladen' | translate"></td>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="download in modal.data.download_result.download_urls">
        <td>
            <span class="icon-inline--left icon-inline--middle">
                <span ng-class="'image-layout-' + download.format"></span>
            </span>
            <span ng-bind="('COMMON.LABEL.LAYOUT_' + download.format.toUpperCase()) | translate"></span>

        </td>
        <td class="table__column--numeric">
            <a ng-href="{{ download.url }}" target="_blank" ng-bind="(('PAGE.PRINTING.MODAL.LABEL_PRINT.DOWNLOAD' + (download.name ? ('_CUSTOM.' + download.name.toUpperCase()) : '')) | translate).replace('%%', download.count || '')"></a>
            <span class="fa fa-file-pdf-o icon-inline-right"></span>
        </td>
    </tr>

    </tbody>
</table>

<div ng-if="modal.data.status === 'ERROR'" class="h-center h-spacing-bottom" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.COMPLETED_NOTIFICATION' | translate"></div>
