<h3 class="h-center" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.TITLE' | translate"></h3>

<div ng-if="modal.data.status === 'IDLE'" class="h-right h-spacing-bottom--wide">
    <a ng-click="modal.hide()">
        <span ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.EDIT_ADDRESS' | translate"></span>
        <span class="icon-action icon-action-outlined icon-inline--right">
            <span class="fa fa-pencil"></span>
        </span>
    </a>
</div>
<!-- <small><pre>{{ modal.data | json }}</pre></small> -->
<table ng-if="modal.data.status === 'IDLE'" class="table table--filling table--spacing table--saving table-row--bordered">
    <tbody>
        <tr ng-repeat="rate in [modal.data.rate]">
            <td class="table-column--slim">1x</td>
            <td>
                <span class="table-column__legend-one" ng-bind="rate.service_name || rate.code"></span>
                <span class="icon-inline--right icon-inline--middle">
                    <span class="fa fa-cube"></span>
                </span>
            </td>
            <td>
                <span class="icon-inline--left icon-inline--middle">
                    <span class="image-layout-a5"></span>
                </span>
                <span ng-bind="'COMMON.LABEL.LAYOUT_A5' | translate"></span>
            </td>
            <td class="table-column--slim table-column--numeric" ng-bind="rate.gross_amount ? (rate.gross_amount.toFixed(2) + ' ' + rate.currency) : ('CARRIER.PRICE_CUSTOM' | translate)">
            </td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="table-column--highlight">
            <strong ng-bind="('PAGE.PRINTING.MODAL.LABEL_PRINT.TOTAL' | translate)"></strong>
        </td>
        <td class="table-column--highlight table-column--slim table-column--numeric h-right">
            <strong ng-bind="modal.data.rate.gross_amount ? (modal.data.rate.gross_amount.toFixed(2) + ' ' + modal.data.rate.currency) : ('CARRIER.PRICE_CUSTOM' | translate)"></strong>
        </td>
    </tr>
    </tfoot>
    <caption class="table__caption-item" ng-repeat="item in ('PAGE.PRINTING.MODAL.LABEL_PRINT.VAT_CHARGES' | translate) | jsonParse" ng-bind-html="item | raw"></caption>
</table>

<div ng-if="modal.data.status === 'IDLE'" class="h-center">
    <button class="button button--blush button--filling" ng-click="modal.data.buy()" ng-dblclick="modal.data.dblclick()" ng-bind="('PAGE.PRINTING.MODAL.LABEL_PRINT.BUY' | translate)"></button>
</div>

<div ng-if="modal.data.status === 'IDLE'" class="h-center h-spacing-top--wide">
  <span class="link" ng-click="modal.hide()" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.CANCEL' | translate"></span>
</div>

<div ng-if="modal.data.status === 'PENDING'" class="h-center">
  <span class="fa fa-circle-o-notch fa-spin modal__icon-busy"></span>
  <div class="legend h-spacing-top" ng-bind="'PAGE.PRINTING.MODAL.LABEL_PRINT.PENDING_MESSAGE' | translate"></div>
</div>

<div ng-if="modal.data.status === 'COMPLETED'">
  Ready
</div>
