<h3 class="h-center" ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.TITLE' | translate"></h3>

<div ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.TEXT' | translate"></div>
<div class="h-spacing-bottom--wide" ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.TEXT2' | translate"></div>

<form novalidate class="h-spacing-bottom--wide form" name="verification" id="verification" ng-submit="printing.submitVerification()">
    <div class="form-row">
        <div class="small-6 columns">
            <!-- ng-init="printing.postalCodeForVerification = (base.env === 'development') ? '10409' : printing.postalCodeForVerification" -->
            <input required autofocus type="text" name="postalcode" id="postalcode" ng-model="printing.postalCodeForVerification" autocomplete="off" ng-pattern="/^[0-9]{5}$/" ng-init="printing.postalCodeForVerification = (base.env === 'development') ? '10409' : printing.postalCodeForVerification">
            <small class="error" ng-show="verification.postalcode.$error.pattern" ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.ERROR.POSTAL_CODE.WRONG_FORMAT' | translate"></small>
            <small class="error" ng-show="verification.postalcode.$error.required" ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.ERROR.POSTAL_CODE.MISSING' | translate"></small>
        </div>
        <div class="small-3 columns">
            <button form="verification" type="submit" class="button button--blush button--right" ng-bind="('PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.SUBMIT' ) | translate"></button>
        </div>
    </div>
</form>

<sup ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.FOOTNOTE' | translate"></sup>
