<h2 class="h-center"
    ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.TITLE' | translate"></h2>

<div class="h-center"
    ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.TEXT' | translate"></div>
<div class="h-spacing-bottom--wide h-center"
    ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.TEXT2' | translate"></div>

{{printing.postalCodeForVerification}}

<form novalidate
    class="h-spacing-bottom--wide form"
    name="verification"
    id="verification"
    ng-submit="modal.action.submitVerification()">
    <div class="row row-outer align-center">
        <div class="column small-6 medium-2">

            <input required
                autofocus
                type="text"
                name="postalcode"
                id="postalcode"
                ng-model="modal.data.postalCodeForVerification"
                ng-pattern="/^[0-9]{5}$/"
                autocomplete="off"
                ng-init="modal.data.postalCodeForVerification = (base.env === 'development') ? '10409' : modal.data.postalCodeForVerification">

        </div>
        <div class="column small-3">
            <button form="verification"
                type="submit"
                class="button button--blush"
                ng-bind="('PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.SUBMIT' ) | translate"></button>
        </div>
    </div>
    <div class="row row-outer align-center">
        <small class="error"
            ng-show="verification.postalcode.$error.pattern"
            ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.ERROR.POSTAL_CODE.WRONG_FORMAT' | translate"></small>
        <small class="error"
            ng-show="verification.postalcode.$error.required"
            ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.ERROR.POSTAL_CODE.MISSING' | translate"></small>
    </div>
</form>

<div class="h-center">
    <sup ng-bind="'PAGE.PRINTING.MODAL.POSTAL_CODE_VERIFICATION.FOOTNOTE' | translate"></sup>
</div>
