.theme--misterspex {
  .hero__form__submit {
    background-color: rgba(0,0,0,0.87);
  }

  .button--blush {
    background-color: rgba(0,0,0,0.7);

    &:hover {
      background-color: rgba(0,0,0,0.87);
    }
  }
}
