.carrier-info {
  width: 100%;
  // min-height: 68px;
  min-height: 184px;
  display: inline-block;
  padding: $_defaultSpacing;
  border-radius: $_borderRadiusDefault;
  background-color: $_rgbWhite;
  border: 2px solid lighten($_rgbDustyGray, 20%);
  text-align: center;
  font-size: $_fsSub;
  z-index: $zindex-inner;
  transition: background-color $_tShort ease;
  margin-bottom: $_defaultSpacing;

  @media #{$small-only} {
    padding: $_defaultSpacing / 2;
  }

  &:hover {
    background-color: lighten($_rgbAthensGray, 2%);
  }

  &__tel,
  &__link,
  &__mail,
  &__additional-info {
    display: block;
    color: lighten($_rgbMineShaft, 10%);
    font-size: $_fsSmall;
  }

  &__additional-info {
    font-size: $_fsTiny;
    line-height: $_lhTiny;
  }

  &__tel,
  &__link,
  &__mail {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  &__logo {
    display: block;
    max-width: 134px;
    margin: auto;
    height: 43px;
    margin-bottom: $_defaultSpacing / 2;
  }
}
