.carrier-info {
    z-index: $zindex-inner;
    display: inline-block;
    width: 100%;
    // min-height: 68px;
    min-height: 184px;
    margin-bottom: $_defaultSpacing;
    padding: $_defaultSpacing;
    transition: background-color $_tShort ease;
    text-align: center;
    border: 2px solid lighten($_rgbDustyGray, 20%);
    border-radius: $_borderRadiusDefault;
    background-color: $_rgbWhite;
    font-size: $_fsSub;
    @media #{$small-only} {
        padding: $_defaultSpacing / 2;
    }

    &:hover {
        background-color: lighten($_rgbAthensGray, 2%);
    }

    &__title {
        margin-bottom: $_ySpacing;
    }

    &__additional-info,
    &__link,
    &__mail,
    &__tel,
    &__tracking-number {
        display: block;
        color: lighten($_rgbMineShaft, 10%);
        font-size: $_fsSmall;
    }

    &__link {
        display: inline;
    }

    &__additional-info {
        font-size: $_fsTiny;
        line-height: $_lhTiny;
    }

    &__link,
    &__mail,
    &__tel,
    &__tracking-number {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__logo {
        display: block;
        max-width: 134px;
        height: 43px;
        margin: auto auto $_defaultSpacing / 2;
    }
}
