.carrier-info {
    z-index: $zindex-inner;
    display: inline-block;
    width: 100%;
    // min-height: 68px;
    min-height: 184px;
    margin-bottom: $_defaultSpacing;
    padding: $_ySpacing;
    transition: background-color $_tShort ease;
    text-align: center;
    border: 2px solid $_rgbAthensGray;
    border-radius: 5px;
    font-size: $_fsSub;
    @media #{$small-only} {
        padding: $_defaultSpacing / 2;
    }

    & > div {
      margin: auto auto $_defaultSpacing / 2;
    }

    &:hover {
        background-color: lighten($_rgbAthensGray, 2%);
    }

    &__title {
        margin-bottom: $_ySpacing;
    }

    &__additional-info,
    &__link,
    &__mail,
    &__tel,
    &__tracking-number {
        display: block;
        color: $_rgbBlack;
        font-size: $_fsSub;
    }

    &__link {
        display: inline;
    }

    &__additional-info {
        font-size: $_fsSub;
        line-height: $_fsSub;
    }

    &__mail,
    &__tel,
    &__tracking-number {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__logo {
        display: block;
        max-width: 200px;
        height: 80px;
    }
}
