$timeline-date-width: 164px;
$timeline-width: 2px;
$timeline-state-size: 16px;

.timeline2 {
  position: relative;
  margin: {
    top: $_ySpacing;
    bottom: $_ySpacing * 3;
  }

  &__event {
    @include clearfix;
    position: relative;
    margin: $_ySpacing 0;

    @media #{$small-only} {
      margin: $_ySpacing 0 $_ySpacing * 1.5;
    }

    &:first-child {
      margin-top: 0;

      .timeline2__state-line {
        top: 50%;
        height: calc(50% + #{$_ySpacing});

        @media #{$small-only} {
          top: calc(6px + #{$timeline-state-size / 2});
          height: calc(100% + #{$_ySpacing * 1.5} - 6px - #{$timeline-state-size / 2});
        }
      }
    }

    &:last-child {
      margin-bottom: 0;

      .timeline2__state-line {
        height: 50%;

        @media #{$small-only} {
          top: 0;
          height: calc(6px + #{$timeline-state-size / 2});
        }
      }
    }

    &:first-child .timeline2__state,
    &:last-child .timeline2__state--process-is-completed {
      border-radius: $_borderRadiusDefault;
    }

    &--is-only-child:before {
      height: 0;
      background: $_rgbWhite;
    }
  }

  &__date {
    height: 68px;
    padding: $_defaultSpacing / 2;
    border-radius: $_borderRadiusDefault;
    color: $_rgbWhite;
    background-color: $_rgbPacificBlue;
    font-weight: bold;
    text-align: center;
    z-index: $zindex-inner;

    &--small{
      height: auto;
      text-align: left;
      margin-bottom: $_defaultSpacing / 2;
    }

    &__text {
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }

  &__state {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    line-height: $timeline-state-size;
    font-size: $timeline-state-size;
    border: $timeline-width solid $_rgbDustyGray;
    background-color: $_rgbWhite;
    color: $_rgbBlush;
    padding: $_defaultSpacing / 4;
    box-shadow: 0px 0px 0px 4px $_rgbWhite;
    z-index: $zindex-inner;

    @media #{$small-only} {
      top: 6px;
      transform: translateX(-50%);
    }

    &-container {
      position: relative;
      margin: 0 auto;
    }

    &-line {
      position: absolute;
      top: 0;
      left: calc(50% - #{$timeline-width / 2});
      height: calc(100% + #{$_ySpacing});
      width: $timeline-width;
      background: $_rgbDustyGray;
      z-index: $zindex-background;

      @media #{$small-only} {
        top: calc(6px + #{$timeline-state-size / 2});
      }
    }
  }

  &__description {
    z-index: $zindex-inner;

    &-text {
      @media #{$small-only} {
        padding: $_defaultSpacing / 2;
      }
      @media #{$medium-up} {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
      }
    }
  }

  &__carrier {
    position: relative;
    display: inline-block;

    font-size: 75%;
    margin-left: $_defaultSpacing / 2;
    background-color: $_rgbAlto;
    padding: 0 $_defaultSpacing / 4;
    border-radius: $_borderRadiusDefault;
    z-index: $zindex-inner;
    @include clearfix;
  }
}
