$timeline-date-width: 164px;
$timeline-width: 2px;
$timeline-state-size: 30px;

.timeline {
    position: relative;
    padding: $_ySpacing;
    border: 2px solid $_rgbAthensGray;
    border-radius: 5px;
    @media #{$small-only} {
        margin-bottom: $_ySpacing * 2;
    }

    &__title {
        margin-bottom: $_ySpacing;
    }

    &__date-column {
        max-width: 100%;
    }

    &__description-column {
        max-width: 100%;
    }

    &__event {
        @include clearfix;
        position: relative;
        padding-right: $_ySpacing*1.5 $_xSpacing*1.5;
        margin: $_ySpacing*2 0;
        transition: 1s linear all;
        -webkit-transition: 1s linear all;
        @media #{$small-only} {
            margin: $_ySpacing 0 $_ySpacing * 1.5;
        }

        &:not(:first-child) {
            & .timeline__date,
            & .timeline__description-text {
                opacity: .5;
                font-weight: lighter;
            }

            & .timeline__description-text {
                border: 1px solid $_rgbAlto * .6;
            }

            & .timeline__state {
                color: $_rgbAlto * .6;
            }
        }

        &:first-child {
            flex-direction: column;
            margin-top: 0;

            & .timeline__date__text {
                float: left;
                font-weight: bold;
            }

            & .timeline__date {
                padding-left: 0;
                margin-bottom: 30px;
                padding-top: 0;
            }

            & .timeline__description-text {
                padding: 30px;
                font-weight: bold;
            }

            & .timeline__carrier {
                font-weight: bold;
                border-width: 2px;
            }
        }

        &:last-child {
            margin-bottom: 0;

            .timeline__state-line {
                height: 50%;
                @media #{$small-only} {
                    top: 0;
                    height: calc(6px + #{$timeline-state-size / 2});
                }
            }
        }

        &:first-child .timeline__state,
        &:last-child .timeline__state--process-is-completed {
            border-radius: $_borderRadiusDefault;
        }

        &--is-only-child .timeline__state-line {
            height: 0;
            background: $_rgbWhite;
        }
    }

    &__date {
        padding: $_defaultSpacing / 2;
        border-radius: $_borderRadiusDefault;
        color: $_rgbBlack;
        font-weight: bold;
        text-align: center;
        z-index: $zindex-inner;
        font-size: $_fsSub;

        &--small {
            height: auto;
            text-align: left;
            margin-bottom: $_defaultSpacing / 2;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__text {
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__state {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 50%;
        line-height: $timeline-state-size;
        font-size: $timeline-state-size;
        background-color: $_rgbWhite;
        color: $_rgbBlush;
        padding: $_defaultSpacing / 4;
        box-shadow: 0 0 0 4px $_rgbWhite;
        z-index: $zindex-inner;
        @media #{$small-only} {
            top: 6px;
            transform: translateX(-50%);
        }

        &-container {
            position: relative;
            margin: 0 auto;
        }

        &-line {
            position: absolute;
            top: 0;
            left: calc(50% - #{$timeline-width / 2});
            height: calc(100% + #{$_ySpacing} + #{$timeline-state-size / 2} + 10px);
            width: $timeline-width;
            background: $_rgbDustyGray;
            z-index: $zindex-background;
        }
    }

    &__description {
        z-index: $zindex-inner;

        &-text {
            border-radius: 10px;
            border: 3px solid $_rgbPacificBlue;
            padding: $_ySpacing $_xSpacing;
            @media #{$small-only} {
                padding: $_defaultSpacing / 2;
            }
            @media #{$medium-up} {}
        }
    }

    &__carrier {
        position: relative;
        display: inline-block;
        font-size: 75%;
        color: $_rgbMineShaft;
        border: 1px solid $_rgbDustyGray;
        padding: 0 $_defaultSpacing / 4;
        border-radius: $_borderRadiusDefault;
        z-index: $zindex-inner;
        @include clearfix;
    }
}
