.currentStatus {
  padding: 0;
  margin: $_ySpacing 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: flex;
  justify-content: space-between;

  transition: margin $_tMed ease;

  &__state {
    font-size: 2.5rem;
    border:3px solid lighten($_rgbMineShaft, 60%);
    border-radius: 50%;
    padding: 20px;
    color: lighten($_rgbMineShaft, 60%);
    text-align: center;
    min-width: 90px;
    min-height: 90px;
    position: relative;

    &__state {
      position: absolute;
      bottom: -2px;
      right: -2px;
      border-radius: 50%;
      line-height: 16px;
      background-color: #fff;
      padding: 6px;
      opacity: 0;
      transform:rotate(45deg);
      transition: opacity $_tShort ease,
                  transform $_tMed ease;

      &.fa-flip-horizontal {
        right: auto;
        left: 0;
        transform: rotate(-45deg) scaleX(-1);
      }

      &--success {
        @extend .fa;
        @extend .fa-check;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 4px;
        color: $_rgbFeijoa;
        font-size: 16px;
        opacity: 1;
        transform: rotate(0deg);

        &.fa-flip-horizontal {
          transform: rotate(0deg) scaleX(-1);
        }
      }

      &--error {
        @extend .fa;
        @extend .fa-close;
        color: $_rgbBlush;
        font-size: 16px;
        opacity: 1;
        transform: rotate(0deg);
      }
    }

    &--is-active {
      color: $_rgbPacificBlue;
      border-color: $_rgbPacificBlue;
    }

    &--is-error {
      color: $_rgbBlush;
      border-color: $_rgbBlush;
    }
  }

  &__angle {
    font-size: 2.5rem;
    margin-top: 24px;
    color: $_rgbWhite;
    text-align: center;
    min-width: 60px;
    opacity: 0;
    transition: opacity $_tMed ease;


    &--is-visible {
      opacity: 1;
      color: $_rgbPacificBlue;
    }
  }

}
