.footer {
    margin: 72px 0;
}

.footer__inner {
    max-width: $_maxPageWidth;
    margin: 0 auto;
    padding: 0 ($_xGutter / 2);
    overflow: hidden;
}

.footer__links {
    @include resetList;
    padding-bottom: 4px;
    border-bottom: 1px solid $_rgbAlto;

    li {
      display: inline;
    }

    li + li > .footer__link {
      margin-left: 20px;
    }
}

.footer__link {
    transition: color $_tShort ease-in-out;
    color: inherit;

    &:before {
        transition: background $_tShort ease-in-out;
    }
    &:hover {
        color: $_rgbPacificBlue;
    }
}
