.form {
  &__label {
    color: $_rgbMineShaft;
    cursor: pointer;
    font-size: $_fsSmall;

    &--required:after {
      content: ' *';
    }
  }

  &__input {
    margin: 0;
    font-size: $_fsSmall;
  }

  &__select {
    margin: 0;
    font-size: $_fsSmall;
  }
}
