.header {
  @include clearfix;
  background: $_rgbWhite;
  height: $_hHeader;
  box-shadow: 0px 0px 2px 0px rgba($_rgbBayOfMany, .5);

  &__inner {
    @include pageWidth;
    display: flex;
    height: 100%;
  }

  &__logo {
    @include cif('coureon', 1.294rem, 11.764rem);
    @include fade-in;
    align-self: center;
    color: $_rgbPacificBlue;
    cursor: pointer;
    height: 100%;
  }

  &__options {
    margin: 0;
    text-align: right;
    flex-grow: 1;
    align-self: center;

    &--phone {
      @include show-for(large);
      @include cif('phone', $icon-width-smallest, $_xSpacing);
      display: inline-block;
      margin-right: $_xSpacing;
    }

    &--mail {
      @include show-for(large);
      @include cif('phone', $icon-width-smallest, $_xSpacing);
      display: inline-block;
      margin-right: $_xSpacing;
    }
  }
}
