.header {
  @include clearfix;
  background: $_rgbWhite;
  height: $_hHeader;
  box-shadow: 0px 0px 2px 0px rgba($_rgbBayOfMany, .5);

  &__inner {
    @include pageWidth;
    display: flex;
    height: 100%;
  }

  &__logo {
    @include cif('coureon', 1.294rem, 11.764rem);
    align-self: center;
    color: $_rgbPacificBlue;
    cursor: pointer;
    height: 100%;
    animation: fade-in $_tLong;
  }

  &__options {
    text-align: right;
    flex-grow: 1;
    align-self: center;

    &__phone {
      @include cif('phone', $icon-width-smallest, 27px);
      display: inline-block;
      margin-right: 27px;
    }

    &__mail {
      @include cif('phone', $icon-width-smallest, 27px);
      display: inline-block;
      margin-right: 27px;
    }
  }
}
