.hero {
  padding-bottom: 70px;
}

.hero__title {
  font-family: $_ffSansBold;
  font-size: $_fsLarge;
  font-weight: $_fsDefault;
  line-height: ($_fsLarge + 0.3rem);
  margin-bottom: 10px;
}

.hero__subtitle {
  font-family: $_ffSansBold;
  font-size: $_fsMedium;
  line-height: $_lhMedium;
}

@media (max-width: $_wLarge) {
  .hero {
    text-align: center;
  }
}

.hero__form {
  @include clearfix;
  margin-top: 58px;
}

.hero__form__elements {
  display: block;
  text-align: left;

  box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
  border-radius: $_borderRadiusDefault;
  overflow: hidden;
}

.hero__form__input {
  @include resetInput;
  display: block;
  padding: 0 17px;

  font-size: 1rem;
  line-height: 2.588rem;
  height: 2.588rem;

  @include placeholderColor($_rgbMineShaft);
}

.hero__form__input--default {
  width: 100%;
  text-align: center;
}


.hero__form__input--short {
  width: 200px;
  float: left;
}

.hero__form__submit {
  @include resetButton;
  display: block;
  width: 100%;
  padding: 0 17px;

  text-align: center;
  font-family: $_ffSansBold;
  font-size: $_fsDefaultFallback;
  line-height: 2.588rem;
  height: 2.588rem;

  background: $_rgbBlush;
  color: $_rgbWhite;

  cursor: pointer;

  transition: background $_tShort ease-in-out;

  &:hover {
    background: darken($_rgbBlush, 10);
  }
}



// ================
//  MEDIA QUERIES
// ================

@media (min-width: $_wLarge) {
  .hero__form__elements {
    display: inline-block;
    margin-bottom: -5px;
    overflow: hidden;
    max-height: 44px;
  }

  .hero__form__input--default {
    float: left;
    width: 290px;
    text-align: left;
  }

  .hero__form__submit {
    float: left;
    width: auto;
  }
}



// ================
//  IE8 FALLBACK
// ================

.ie8 {
  .hero__form__elements {
    display: inline-block;
    margin-bottom: -5px;
  }

  .hero__form__input--default {
    float: left;
    width: 290px;
    text-align: left;
  }

  .hero__form__submit {
    float: left;
    width: auto;
  }
}
