.overview {
  list-style:none outside;
  margin: ($_ySpacing * 2) 0;
  padding:0;

  li {
    width: 50%;
    display: inline-block;
  }

  ._title {
    font-weight: bold;
    margin-right: $_defaultSpacing;
  }
}
