.section {
    padding: $_yGutter 0;

    &--center {
        text-align: center;
    }

    &--blue {
        background: $_rgbPacificBlue;
        color: $_rgbWhite;
    }

    &__inner {
        @include pageWidth;
        max-width: $_maxPageWidth;
        margin: 0 auto;
        padding: 0 ($_xGutter / 2);

        &--slim {
            max-width: $_maxSlimPageWidth;
        }

        &--centered {
            text-align: center;
        }
    }

    &__divider {
        margin: ($_defaultSpacing * 2) 0 ($_defaultSpacing * 3);
        border: 0 solid $_rgbAlto;
        border-top-width: 1px;
    }

    &__title {
        margin-bottom: 72px;
        font-size: $_fsLarge;
        line-height: $_lhLarge;
        color: $_rgbWhite;
    }

    &__subtitle {
        // enable this to revert COUREON-2198
        // margin-bottom: 72px;
        font-size: $_fsMedium;
        line-height: $_lhMedium;
        color: $_rgbWhite;
    }

    .section__title + .section__subtitle {
        margin-top: -65px;
    }

    a:not(.button) {
        color: $_rgbBlush;
    }

    a:not(.button).--nocolor {
        color: none;
    }
}
