.table {
  table-layout: auto;
  page-break-inside: auto;

  font-family: $_ffSans;
  font-size: $_fsSmall;

  tr.row:after,
  tr.row:before {
    display: none;
  }

  &--spacing {
    margin: ($_defaultSpacing / 2) 0;
  }

  &--filling {
    width: 100%;
    border: $_borderWidthSmall solid $_rgbAlto;
    border-collapse: separate;
  }

  &--saving {
    td,
    th {
      padding: ($_formSpacing / 1.5) $_formSpacing;
      font-size: $_fsSmall;
    }
  }

  td,
  th {
    transition: background-color $_tShort;
    position: static;
    float: none;
  }

  &__head,
  th {
    padding: ($_formSpacing / 2) $_formSpacing;
  }

  td {
    padding: $_formSpacing;
  }

  caption {
    caption-side: bottom;
  }

  &__caption,
  caption {
    font-size: $_fsSmall;
    color: $_rgbMineShaft;
    text-align: left;
    margin: 0;
    padding: ($_formSpacing / 1.5) $_formSpacing;
    &-item + &-item {
      margin-left: $_defaultSpacing * 0.5;
    }
  }

  &-align {
    &-top {
      td,
      th {
        vertical-align: top;
      }
    }
    &-middle {
      td,
      th {
        vertical-align: middle;
      }
    }
    &-center {
      text-align: center;
    }
    &-bottom {
      td,
      th {
        vertical-align: bottom;
      }
    }
  }

  &__row {
    &--bordered {
      tr {
        &:nth-child(even) {
          background-color: $_rgbAthensGray;
        }
      }
    }
  }

  &__column {
    &--bordered {
      td,
      th {
        border-left: 1px solid $_rgbAlto;
        border-right: 1px solid $_rgbAlto;
      }
    }
    &--equalize {
      table-layout: fixed;
      th {
        width: 1px;
      }
    }
    &--numeric {
      text-align: right;
      white-space: nowrap;
    }
    &--required:after {
      content: '\a0 *';
    }
    &--slim {
      width: 1px;
    }
    &--medium {
      min-width: 100px;
    }
    &--semilarge {
      min-width: 175px;
    }
    &--large {
      min-width: 250px;
    }
  }

  &__legend {
    &-one:after {
      content: '\a0 \b9';
    }
    &-two:after {
      content: '\a0 \b2';
    }
    &-three:after {
      content: '\a0 \b3';
    }
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
    &:nth-child(odd) .table-row--highlight {
      background-color: $_rgbAthensGray;
    }
    &:nth-child(even) .table-row--highlight {
      background-color: $_rgbWhite;
    }
  }

  thead {
    font-family: $_ffSansSemiBold;
    font-size: $_fsSmall;

    & > .table-row--highlight {
      background-color: $_rgbAthensGray;
    }
  }

}
