.timeline {

  $timeline-date-width: 105px;
  $timeline-width: 2px;
  $timeline-state-size: 16px;

  position: relative;
  margin: {
    top: $_ySpacing;
    bottom: $_ySpacing * 3;
  }

  ._event {
    position: relative;
    margin: $_ySpacing 0;
    // z-index: 1;
    @include clearfix;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: $timeline-date-width + $timeline-state-size + $_xSpacing;
      height: calc(100% + #{$_ySpacing});
      width: $timeline-width;
      background: $_rgbDustyGray;
      z-index: -1;  /* to be below the parent element */
    }
    &:first-child {
      margin-top: 0;
      &:before {
        top: 50%;
        height: calc(50% + #{$_ySpacing});
      }
    }
    &:last-child {
      margin-bottom: 0;
      &:before {
        height: 50%;
      }
    }

    .__date {
      display: inline-block;
      vertical-align:middle;
      width: $timeline-date-width;
      height: 68px;
      border-radius: $_borderRadiusDefault;
      color: $_rgbWhite;
      font-weight: bold;
      background-color: $_rgbPacificBlue;
      padding: $_defaultSpacing;
    }

    .__state {
      position: absolute;
      top: calc(50% - #{($timeline-state-size / 2)} - #{($_defaultSpacing)});
      left: 132px;
      vertical-align:middle;
      border-radius: 50%;
      line-height: $timeline-state-size;
      font-size: $timeline-state-size;
      border: $timeline-width solid $_rgbDustyGray;
      background-color: $_rgbWhite;
      color: $_rgbWhite;
      padding: $_defaultSpacing / 2;
      box-shadow: 0px 0px 0px 4px $_rgbWhite;
    }

    &:first-child .__state,
    &:last-child .__state {
      border-radius: $_borderRadiusDefault;
    }

    &.-isProcessed .__state {
      color: $_rgbBlush;
    }

    .__description {
      position: relative;
      vertical-align:middle;
      display: inline-block;
      max-width: 600px;
      margin-left: ($_xSpacing * 2) + ($_defaultSpacing * 2) + $timeline-state-size;
      border-radius: $_borderRadiusDefault;
      @include clearfix;
    }
  }


}
