$_fsMedium : 20px;
$form-spacing : 5px;
$font-size-default : 16px;

.modal {
  @include fade-in($_tShort / 2);
  box-shadow: 0px 0px 8px 0px transparentize($_rgbDustyGray, 0.2);

  position:relative;
  top:50%;
  transform:translateY(-50%);

  &--centered {
    position: relative;
    margin: 0 auto;
    float: none;
    padding: $_ySpacing $_xSpacing;
    background-color: $_rgbWhite;
    border: 1px solid $_rgbDustyGray;
    border-radius: $_borderRadiusDefault;
    max-height: 100%;
    overflow-y: auto;
  }

  &__dino {
    text-align: left;
    float: left;
    margin-right: 2rem;
  }

  &__close {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: ($_ySpacing / 3) ($_xSpacing / 3);
    color: $_rgbDustyGray;
    cursor: pointer;
    font-size: $_fsMedium;
    transition: color $_tShort;
    z-index: $zindex-inner;

    &:hover {
      color: $_rgbBlush;
    }
  }

  &__icon {
    &-busy {
      font-size: $font-size-default * 2;
      color: $_rgbBlush;
      cursor: wait;
    }
  }
}
