.ui-tooltip {
  @include fade-in();
  position: absolute;
  left: -999px;
  background-color: $_rgbWhite;
  z-index: $zindex-help;
  padding: $_defaultSpacing / 2 $_defaultSpacing;
  font-size: $_fsSmall;
  border-radius: $_borderRadiusDefault;
  border: 3px solid $_rgbAlto;

  &.--is-active {
    border: 3px solid $_rgbPacificBlue;
    box-shadow: 0;
  }

  &:before,
  &:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    z-index: $zindex-inner;
  }

  &:before {
    border: 9px solid transparent;
  }
  &:after {
    border: 8px solid transparent;
  }

  &--up {
    margin-bottom: 13px;

    &:before {
      bottom: -9px;
      border-bottom-width: 0;
      border-top-color: $_rgbAlto;
    }

    &.--is-active:before {
      border-top-color: $_rgbPacificBlue;
    }

    &:after {
      bottom: -5px;
      border-bottom-width: 0;
      border-top-color: $_rgbWhite;
    }
  }

  &--down {
    margin-top: 13px;

    &:before {
      top: -9px;
      border-top-width: 0;
      border-bottom-color: $_rgbAlto;
    }

    &.--is-active:before {
      border-top-color: $_rgbPacificBlue;
    }

    &:after {
      top: -8px;
      border-top-width: 0;
      border-bottom-color: $_rgbWhite;
    }
  }

  &--centered {
    transform: translateX(-50%);

    &:before,
    &:after {
      left: 50%;
    }

    &:before {
      margin-left: -9px;
    }

    &:after {
      margin-left: -8px;
    }
  }

  &--left {
    margin-right: $_defaultSpacing * (-1);

    &:before,
    &:after {
      right: $_defaultSpacing;
    }

    &:before {
      margin-right: -1px;
    }
  }

  &--wide {
    width: $surface-min-width - 32px;
  }
}
