<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Coureon</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type=image/x-icon />
    <link rel="stylesheet" href="<%= asset('css/main.css') %>" />
    <base href="<%= basepath %>">
</head>
<body>
    This is your NEW index template.

    <script src="<%= asset('js/bundle.js') %>"></script>
</body>
</html>
