<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>coureon</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="/images/favicon.ico" type=image/x-icon/>
        <link rel="stylesheet" href="<%= asset('css/main.css') %>"/>
        <base href="/">
    </head>
    <body>
      wait
        <div class="ui-layer ui-layer-curtain behavior-view-center-horizontal font-size-headline-main">
            <div class="behavior-view-center-vertical">
                <span class="fa fa-circle-o-notch behavior-view-rotate behavior-view-center-vertical"></span>
            </div>
        </div>
    </body>
</html>
