<!doctype html>
<html lang="de">
    <head>

      <title>Coureon</title>

      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="description" content="Paket-Tracking von Coureon."/>
      <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
      <link rel="stylesheet" href="<%= asset('css/main.css') %>"/>

      <base href="<%= basepath %>">

    </head>
    <body>

        <div class="h-center spinner">
            <div class="spinner__circle"></div>
        </div>

    </body>
</html>
