@mixin resetButton{
  background: none;
  border: 0;
  color: inherit;

  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;

  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin resetInput{
  border-radius: 0;
  border: none;
  box-shadow: none;
  outline: none;
}

@mixin resetList{
  list-style: none;
  padding: 0;
}

@mixin responsiveImage{
  display: block;
  width: 100%;
  height: auto;
}

@mixin font-face($fontName) {
  @font-face {
    font-family: $fontName;
    src: url('../fonts/' + $fontName + '/' + $fontName + '.eot');
    src: url('../fonts/' + $fontName + '/' + $fontName + '.eot?iefix') format('eot'), url('../fonts/' + $fontName + '/' + $fontName + '.woff') format('woff'), url('../fonts/' + $fontName + '/' + $fontName + '.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin placeholderColor($color) {
  &::-webkit-input-placeholder {
     color: $color;
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: $color;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: $color;
  }

  &:-ms-input-placeholder {
     color: $color;
  }
}

@mixin clearfix {
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

@mixin pageWidth{
  max-width: $_maxPageWidth;
  margin: 0 auto;
  padding-left: ($_xGutter / 2);
  padding-right: ($_xGutter / 2);
}

// @mixin icon($name, $fs, $padding: 0){
//   display: inline-block;
//   position: relative;
//   padding-left: $padding;
//
//   &:before{
//     position: absolute;
//     left: 0;
//     top: 50%;
//     margin: ($fs / -2) 0 0;
//     font-size: $fs;
//     font-style: normal;
//     font-weight: normal;
//     font-family: 'FontAwesome';
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//
//     @if $name == 'envelope' {
//       content: $fa-var-envelope-o;
//     }
//
//     @if $name == 'phone' {
//       content: $fa-var-phone;
//       margin: (($fs / -2) + 2px) 0 0;
//     }
//   }
// }
