$zindex-background    : 0;
$zindex-inner         : 1;
$zindex-area-absolute : 2;
$zindex-stick         : 3;
$zindex-modal         : 996;
$zindex-help          : 997;
$zindex-ontop         : 998;
$zindex-dropdown      : 999;
