<div class="form-row">
    <label class="required" for="iban" ng-bind="'PAGE.PRINTING.PAYMENT_METHOD.SOFORT_UEBERWEISUNG.IBAN' | translate"></label>
    <input required autofocus id="iban" type="text" ng-model="" ng-change="modal.action.changeData(method)"/>

    <!-- ng-model-options="{ allowInvalid : true } -->
    <!-- pattern="^[a-zA-Z]{2}\d{2}\w{11,30}$" -->
</div>
<div class="form-row">
    <label class="required" for="bic" ng-bind="'PAGE.PRINTING.PAYMENT_METHOD.SOFORT_UEBERWEISUNG.BIC' | translate"></label>
    <input id="billing_sofortbanking_bic" type="text" required ng-model="billing.newData.bic" pattern="^[a-zA-Z]{6}(\w{2}|\w{5})$" ng-change="billing.cleanData('bic')" ng-model-options="{ allowInvalid : true }" />
</div>
