<hero hero-position="landingpage"
    hero-title="'SECTION.HERO.TITLE' | translate"
    hero-image="{{ base.heroImage }}">
    <form class="hero__form"
        ng-submit="tracking.getStatus()"
        autocomplete="off"
        ng-controller="PageTrackingCtrl as tracking">
        <div class="row">
            <div class="medium-4 small-12">
                <input class="hero__form__input hero__form__input--default"
                    type="text"
                    name="tracking_number"
                    placeholder="{{'SECTION.HERO.PLACEHOLDER' | translate}}"
                    required
                    ng-model="tracking.trackingId"
                    select-on-click
                    autofocus>
            </div>
            <div class="medium-3 small-12">
                <button class="hero__form__submit"
                    type="submit"
                    name="submit"
                    ng-bind="'SECTION.HERO.TRACK_BUTTON' | translate"></button>
            </div>
        </div>
    </form>
</hero>

<section class="section">
    <div class="section__inner section__inner--slim section__inner--centered">
        <h2 ng-bind="'PAGE.LANDING.TITLE' | translate"></h2 >
        <p ng-bind-html="('PAGE.LANDING.SUBTITLE' | translate) | raw"></p>
    </div>
</section>

<banner ng-if="base.showBanner" banner-title="'SECTION.FOOTER.TITLE' | translate" banner-link="http://www.coureon.com" banner-subtitle="'SECTION.FOOTER.SUBTITLE' | translate"></banner>
