<hero title="'PAGE.PRINTING.TITLE' | translate" image="url(images/hero/printing.jpg)"></hero>

<section class="section">
    <div class="section__inner row" ng-class="{ 'section__inner--centered' : printing.showError() }">

        <h2 ng-if="printing.showError()" ng-bind="'PAGE.PRINTING.ERROR_TITLE' | translate"></h2>
        <p ng-if="printing.showError() && ('PAGE.PRINTING.ERROR_DESCRIPTION' | translate) !== 'PAGE.PRINTING.ERROR_DESCRIPTION'" ng-bind="'PAGE.PRINTING.ERROR_DESCRIPTION' | translate"></p>

        <!-- NOTIFICATIONS: -->
        <ul ng-if="printing.showNotifications()" class="ui-notification-list">
            <li class="ui-notification" ng-repeat="notification in printing.showNotifications()" ng-class="'ui-notification-' + notification.type.toLowerCase()">
                <span class="fa ui-notification-icon" ng-class="printing.notificationIcons[notification.type.toLowerCase()]"></span>
                <span ng-bind="(notification.key) | translate"></span>
            </li>
        </ul>

        <!-- ADDRESSES: -->
        <div ng-if="!printing.showError()" class="columns large-6" ng-if="printing.addresses()">
            <div class="area-panel area-panel--merge" ng-repeat="(addressType, address) in printing.addresses()" ng-click="address.is_editable ? printing.openAddressForm(address, addressType) : null" ng-class="{ 'widget-address' : address.is_editable, 'widget-address--js-editing' : (address.is_editable && printing.openAddress.address_type == addressType) }">

                <h3 class="address-headline" ng-bind="('COMMON.ADDRESSES.' + addressType) | translate"></h3>

                <div class="address-container" watch-height="{ condition: (!printing.openAddress || (printing.openAddress && printing.openAddress.address_type !== addressType)), targetOnTrue: 'js-target-on-true', targetOnFalse: 'js-target-on-false', disableAnimationClass: 'address-container--no-animation' }">

                    <!-- <small><pre>!printing.openAddress: {{! printing.openAddress | json }}</pre></small>
                    <small><pre>printing.openAddress: {{ printing.openAddress | json }}</pre></small>
                    <small><pre>printing.openAddress.address_type: {{ printing.openAddress.address_type | json }}</pre></small>
                    <small><pre>addressType: {{ addressType | json }}</pre></small> -->

                    <address class="address-display js-target-on-true" ng-class="{ 'address-display--is-visible' : (address && !printing.openAddress || (printing.openAddress && printing.openAddress.address_type !== addressType)) }" data="address" is-editable="address.is_editable"></address>

                    <div class="address-form js-target-on-false" ng-class="{ 'address-form--is-visible' : (printing.openAddress && printing.openAddress.address_type === addressType) }" address-form="printing.addressForm" address-model="printing.openAddress" sender="printing.openAddress.address_type == 'SENDER_ADDRESS'"></div>
                </div>

            </div>
        </div>

        <!-- RATES: -->
        <div ng-if="!printing.showError()" class="columns large-6">
            <div class="area-panel area-panel--container area-panel--merge" ng-if="printing.rates()">
                <div class="widget-rate" ng-repeat="rate in printing.rates()" ng-class="{ 'widget-rate-disabled' : printing.openAddress }" ng-include="'/views/partials/widgets/rate.html'" data-text-disabled="{{ 'RATE.DISABLED' | translate }}"></div>
            </div>
        </div>

    </div>
</section>
