<hero hero-title="'PAGE.RETURN.TITLE' | translate" hero-image="url(images/hero/default_rev_2.jpg)" hero-position="return">
  <h1 class="hero__title" ng-bind="'PAGE.RETURN.TITLE' | translate"></h1>
</hero>

<section class="section" ng-if="return.shipment || return.errors">
  <div class="section__inner" ng-class="{ 'section__inner--centered' : return.errors && !return.shipment }">

    <div ng-if="return.errors && !return.shipment">
      <h2 ng-bind="'PAGE.RETURN.ERROR_TITLE' | translate"></h2>
      <p ng-repeat="error in return.errors" ng-bind="error.text"></p>
    </div>

    <div class="row row-outer-block">
      <div class="column small-12 medium-9" ng-include="'/views/partials/package/measurements.html'" ng-repeat="package in [return.package]" help="{ translation : 'ACTION.HELP.TEXT.SP_PACKAGE_MEASUREMENT' }"></div>
      <div class="column small-12 medium-3" ng-include="'/views/partials/package/weight.html'" ng-repeat="package in [return.package]" help="{ translation : 'ACTION.HELP.TEXT.SP_PACKAGE_WEIGHT', directionX : 'left' }"></div>
    </div>

    <hr class="section__divider">

    <!-- ADDRESSES-->
    <div class="row row-outer-block" ng-if="return.shipment">
      <div class="column small-12 large-6 h-spacing-bottom--wide">
        <h1><span translate="PAGE.RETURN.ADDRESSES.TITLE"></span></h1>

        <div class="area-panel area-panel--merge widget-address widget-address--js-editing">
          <h3 class="address-headline" ng-bind="'COMMON.ADDRESSES.SENDER' | translate"></h3>

          <div class="address-container">
            <address class="address-display address-display--static" ng-if="!return.isEditingAddress"
                     data="return.shipment.address_from" is-editable="true"
                     ng-click="return.isEditingAddress = true"></address>
            <div class="address-form address-form--static" ng-if="return.isEditingAddress"
                 address-form="return.addressForm" address-model="return.senderAddress" sender="true"></div>
          </div>
        </div>

        <div class="area-panel area-panel--merge">
          <h3 class="address-headline" ng-bind="'COMMON.ADDRESSES.RECEIVER' | translate"></h3>

          <div class="address-container">
            <address class="address-display address-display--static" data="return.shipment.address_to"></address>
          </div>
        </div>
      </div>

      <!-- RATES: -->
      <div class="column small-12 large-6">
        <h1><span translate="PAGE.RETURN.RATES.TITLE"></span></h1>
        {{ return.shipment.rates }}
        <div class="area-panel area-panel--container area-panel--merge" ng-if="return.shipment.rates">
          <div class="widget-rate"
               ng-repeat="rate in return.shipment.rates"
               ng-class="{ 'widget-rate-disabled' : !return.shipment.address_from || return.errors }"
               ng-include="'/views/partials/widgets/rate.html'"
               data-text-disabled="{{ 'RATE.DISABLED' | translate }}"></div>
        </div>

        <ul ng-if="return.errors" class="ui-notification-list column row">
          <li class="ui-notification ui-notification-warning" ng-repeat="error in return.errors">
            <span class="fa ui-notification-icon fa-exclamation-triangle"></span>
            <span ng-bind="error.text | translate"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<banner banner-title="'SECTION.FOOTER.TITLE' | translate" banner-subtitle="'SECTION.FOOTER.SUBTITLE' | translate"
        tracking-id="{{tracking.data.id.toUpperCase()}}" show-print-button="false"></banner>
