<section id="hero" class="section -blue -hero" style="background-image: url(https://www.coureon.com/content/1-home/1-hero/header-cta.jpg); ?>">
  <div class="_inner">

    <div class="hero">
      <h1 class="hero__title">Tracking</h1>

      <div class="hero__register">
        <form class="emailForm" action="https://www.coureon.com/register" method="GET">
          <div class="emailForm__elements">

            <input class="emailForm__input emailForm__input--default" type="email" name="email" placeholder="Tracking-Nr. eingeben">
            <button class="emailForm__submit" type="submit" name="submit">Jetzt Sendung verfolgen</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>

<!-- START facebook -->
<img src="https://www.coureon.com/content/coureon-logo-square.png" alt="Häufige Fragen" style="display:none;">
<img src="https://www.coureon.com/content/6-haeufige-fragen/4-versandanbieter/haeufige-fragen.jpg" alt="Häufige Fragen" style="display:none;">
<!-- END facebook -->

<section class="section">
  <div class="_inner -slim">

    <!-- <small><pre>tracking: {{ tracking | json }}</pre></small> -->

    <div class="states">
      <!-- <span class="_state fa fa-cube icon-action icon-action-outlined"></span> -->
      <span class="_state -isActive fa fa-cube"></span>
      <span class="_angle -isVisible fa fa-angle-right"></span>
      <span class="_state -isActive fa fa-truck fa-flip-horizontal fa-rotate-180"></span>
      <span class="_angle -isVisible fa fa-angle-right"></span>
      <span class="_state -isActive fa fa-arrows-alt"></span>
      <span class="_angle fa fa-angle-right"></span>
      <span class="_state fa fa-home"></span>
      <span class="_angle fa fa-angle-right"></span>
      <span class="_state fa fa-check"></span>
    </div>

    <ul class="quickinfo">
      <li class="_title">Tracking-Nummer:</li>
      <li>CO-861874623876762</li>
      <li class="_title">Status:</li>
      <li>Ausgeliefert</li>
    </ul>

    <section class="timeline">
        <div class="_event -isProcessed">
            <span class="__date">
                Mo., 02.12.,
                <br>
                14:30 Uhr
            </span>
            <span class="__state fa fa-check"></span>
            <span class="__description">
                Ihr Paket wurde im Paketshop in Kaiserslautern abgegeben
            </span>
        </div>
        <div class="_event -isProcessed">
            <span class="__date">
                Di., 03.12.,
                <br>
                10:15 Uhr
            </span>
            <span class="__state fa fa-check"></span>
            <span class="__description">
                Ihr Paket wurde im Verteilzentrum in Frankfurt am Main abgegeben, außerdem gibt es hier noch jede Menge Text
            </span>
        </div>
        <div class="_event">
            <span class="__date">
                Mo., 02.12.,
                <br>
                14:30 Uhr
            </span>
            <span class="__state fa fa-check"></span>
            <span class="__description">
                Ihr Paket wurde im Paketshop in Kaiserslautern abgegeben
            </span>
        </div>
        <div class="_event">
            <span class="__date">
                Mo., 02.12.,
                <br>
                14:30 Uhr
            </span>
            <span class="__state fa fa-check"></span>
            <span class="__description">
                Ihr Paket wurde im Paketshop in Kaiserslautern abgegeben
            </span>
        </div>
        <div class="_event">
            <span class="__date">
                Di., 03.12.,
                <br>
                10:15 Uhr
            </span>
            <span class="__state fa fa-check"></span>
            <span class="__description">
                Ihr Paket wurde im Verteilzentrum in Frankfurt am Main abgegeben
            </span>
        </div>
    </section>
  </div>
</div>



<section class="section -black -center" style="background-image: url(https://www.coureon.com/content/footer-cta.jpg)">
  <div class="_inner">
    <h2 class="_title">Einfach Pakete versenden.</h2>
    <p class="_subtitle">Kostenlose Nutzung. Keine Einrichtung notwendig.</p>

    <div class="emailForm__elements">
      <input class="emailForm__submit" type="button" name="submit" value="Jetzt Rücksende Etikett erstellen"></input>
      <input class="emailForm__submit" type="button" name="submit" value="Jetzt Paketschein drucken"></input>
    </div>
  </div>
</section>
